@{
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Agregar Mesa</h2>
        <form method="post" asp-action="AgregarMesas" asp-controller="Admin">
            <div class="form-group">
                <label for="cantidad">Num de mesa:</label>
                <input required name="Mesa" type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad">
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input required name="Contrasena" type="password" class="form-control" id="contrasena" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group">
                <label for="confirmarContrasena">Confirmar Contraseña:</label>
                <input required name="Contrasena2" type="password" class="form-control" id="confirmarContrasena" placeholder="Confirme su contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <h1 class="text-center">@ViewBag.Mensaje</h1>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
