@{
    Layout = "_LayoutMesero";
}
@model IEnumerable<Eats_Tech.Models.LlamarMeseroModel>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios Registrados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .platillo-img {
            max-width: 50px;
            margin-right: 10px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .platillo-name {
            font-family: 'Leckerli One', cursive;
            font-size: 18px;
            color: #333;
        }
    </style>
</head>
<body>
    @{
        int IdCliente = 0;
        string[] Nombre = new string[3];
        <div class="container mt-5">
            <h1 class="mb-4">Llamadas de la mesa</h1>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Mesa a atender</th>
                        <th>Boton para atender</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        if (i.Activo == 1 && i.IdMesero == ViewBag.Mesero)
                        {
                            <tr>
                                <td>@i.Nombre</td>
                                <td>
                                    <a type="submit" href="@Url.Action("LlamadaPost", "Mesero", new { IdLlamada = i.Id })" class="btn btn-Primary btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>